@using IM.Identity.BI.Enums
@using Microsoft.AspNet.Identity.EntityFramework
@using GridMvc.Html

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="formLeftHeader">
        <div class="formInnerHeader">
            <h2 class="pageHeaderCaption">Roles</h2>
        </div>
    </div>

    <div class="layoutForm">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        
        @helper RenderActions(IdentityRole item)
        {
            <a href="@Url.Action("Edit", "Roles", new { id = item.Id }, null)" > Edit </a> <span>|</span>
            <a href="@Url.Action("Details", "Roles", new { id = item.Id }, null)" > Details </a> <span>|</span>
            <a href="@Url.Action("Delete", "Roles", new { id = item.Id }, null)" > Delete </a> <span>|</span>
        }

        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(item => item.Name).Titled("Name").SetWidth(110).Sortable(true).Filterable(true);
            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(item => RenderActions(item));
        }).WithPaging(10)
    </div>

</div>