@using IM.Identity.BI.Enums
@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="formLeftHeader">
        <div class="formInnerHeader">
            <h2 class="pageHeaderCaption">Roles</h2>
        </div>
    </div>

    <div class="layoutForm">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        
                        @if (item.Name == RoleConstants.SuperAdminRole)
                        {
                            continue;
                        }
                        
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    </td>
                </tr>
            }

        </table>

    </div>

</div>