@using IM.Identity.BI.Enums
@model IM.Identity.Web.Models.UserViewModel

@for (var i = 0; i < Model.RoleViewModels.Count(); i++)
{
    if (Model.RoleViewModels[i].RoleName == RoleConstants.SuperAdminRole)
    {
        continue;
    }
    
    <div class="form-group">
        @Html.Label(Model.RoleViewModels[i].RoleName, htmlAttributes: new { @class = "control-label col-md-5" })

        <div class="col-md-7">
            <div class="checkbox">
                @Html.EditorFor(x => Model.RoleViewModels[i].HasRole)
            </div>
        </div>
        
        @Html.HiddenFor(x => Model.RoleViewModels[i].RoleId)
        @Html.HiddenFor(x => Model.RoleViewModels[i].RoleName)
        @Html.HiddenFor(x => Model.RoleViewModels[i].HasRole)

    </div>
}
